@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=WindSong:wght@400;500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #73c9df;
}
nav a {
    text-align: center;
    color: white;
    background-color: #219ebc;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: rgb(199, 199, 199);
    background-color: #1f5f80;
    text-decoration: underline;
}

#title {
    color: #219ebc;
    text-align: center;
    font-size: 2em;
    font-family: "Shadows Into Light", Georgia, Arial; 
    margin-top: 10px;
    z-index: 1;
    grid-column: 1/3;
}

/* #home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

} */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

h4 {
    color: #023047;
}
.home-title {
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}
#hero-img {
    width: 100%
}

.button-box {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #219ebc;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #8ecae6;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #219ebc;
    display: grid;
    grid-template-columns: 150px auto;
}
.book { /*Book now! */
    background-color: #023047;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join { /*Book now! */
    background-color: #219ebc;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.msg {
    background-color: #023047;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}
.msg h2 {
    color: white;
    line-height: 1.5em;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #219ebc;
    color: #8ecae6;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    background-color: #219ebc;
    color: #8ecae6;
    text-decoration: none;
}

footer a:hover{
    background-color: #219ebc;
    color: #023047;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.book:hover, .join:hover {
    color: rgb(207, 207, 207);
}


.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    width: 100%;
    border: 10px solid #023047;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: center;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;  

}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #023047

}
main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/* ------------------------------------------------------------------------------------------------- */
/* Rivers Rivers Rivers Rivers Rivers Rivers Rivers Rivers Rivers Rivers Rivers Rivers Rivers Rivers */
/* ------------------------------------------------------------------------------------------------- */

#rivers-title {
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: "Shadows Into Light", Georgia, Arial; 
    margin-top: 10px;
    z-index: 1;
    grid-column: 1/3;
}

#river-frontpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#river-frontpage-box {
    grid-column: 1/7;
    grid-row: 1/3;
}

#river-frontpage-img {
    width: 100%;
}

#river-frontpage-msg {
    background-color: #1f5f80;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 30px;
    border-radius: 30px;
}

#river-frontpage-msg h4, #river-frontpage-msg h1{
    color: white;
    text-align: center;
    /* background-color: #023047; */
}

#river-frontpage-title {
    color: white;
}

.rivers-grid {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(10, 1fr);
}

.river-calm-card {
    background-color: #023047;
    grid-column: 2/9;
    grid-row: 1/2;
    height: 90%;
    
}

.river-calm-box {
    grid-column: 2/9;
    grid-row: 1/2;
    height: 100%;
}

.river-calm-img {
    width: 400px;
    float:inline-start;
}
.river-calm-card h4 {
    color: #8ecae6;
    height: 100%;
}

.river-calm-card h2 {
    color: white;
    font-size:45px;
}

.river-calm-bookbox {
    grid-column: 9/10;
    background-color: #023047;
    height:89.8%;
    align-items:normal;
    margin-top: 21px;
}

.river-calm-bookbox h4 {
    color: white;
    text-align: center;
    margin-top: 200px;
}

.river-calm-book {
    background-color: #219ebc;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 100px;
    border-radius: 5px;
    position:relative;
    top: 100px;
}



.river-med-card {
    background-color: #023047;
    grid-column: 2/9;
    grid-row: 2/3;
    height: 90%;
}

.river-med-box {
    grid-column: 2/9;
    height: 100%;
}

.river-med-img {
    width: 400px;
    float:inline-start;
}
.river-med-card h4 {
    color: #8ecae6;
    height: 100%;
}

.river-med-card h2 {
    color: white;
    font-size:45px;
}

.river-med-bookbox {
    grid-column: 9/10;
    background-color: #023047;
    height:90%;
    align-items:normal;
    margin-top: 20px;
}


.river-med-book {
    background-color: #219ebc;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 100px;
    border-radius: 5px;
    position:relative;
    top: 100px;
}

.river-med-bookbox h4 {
    color: white;
    text-align: center;
    margin-top: 200px;
}

.river-wild-card {
    background-color: #023047;
    grid-column: 2/9;
    grid-row: 3/4;
    height: 90%;
}

.river-wild-box {
    grid-column: 2/9;
    height: 100%;
}

.river-wild-img {
    width: 400px;
    float:inline-start;
}
.river-wild-card h4 {
    color: #8ecae6;
    height: 100%;
}
.river-wild-card h2 {
    color: white;
    font-size:45px;
}

.river-wild-bookbox {
    grid-column: 9/10;
    background-color: #023047;
    height:90%;
    align-items:normal;
    margin-top: 20px;
}


.river-wild-book {
    background-color: #219ebc;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 100px;
    border-radius: 5px;
    position:relative;
    top: 100px;
}

.river-wild-bookbox h4 {
    color: white;
    text-align: center;
    margin-top: 200px;
}

/*------------------------------------------*/

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
  grid-column:4/8;
}

p + p {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999999;
}

input:focus,
textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: black;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}